.main {
  margin: 0 30px 0 15px;
}
.form-container {
  padding: 1rem;
  background-color: #f6f6f6;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  /* display: flex;
  flex-wrap: wrap; */
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.expand {
  text-align: center;
}
.btn {
  background-color: #fff;
  border-radius: 5px;
  border: none;
  height: 30px;
  margin: 10px auto;
  font-size: 16px;
  padding: 10px 15px;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
  line-height: 2px;
  box-shadow: 0px 1px 2px #a5a8a8, 0px 1px 5px #a5a8a8, 0px 5px 10px #a5a8a8;
}
.btn:focus {
  outline: none;
}
.btn-add {
  padding: 20px;
  border-radius: 8px;
  vertical-align: middle;
  /* box-shadow: 0px 10px 5px #a5a8a8, 0px 10px 25px #a5a8a8,
    inset 0px 5px 10px #a5a8a8; */
}
